<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>LicenseShare</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>管理者</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ユーザー</web-resource-name>
      <url-pattern>/UserLicenseInsertServlet</url-pattern>
      <url-pattern>/License</url-pattern>
      <url-pattern>/AddLicenseServlet</url-pattern>
      <url-pattern>/CountRankingServlet</url-pattern>
      <url-pattern>/LicenseListServlet</url-pattern>
      <url-pattern>/PassRankingServlet</url-pattern>
      <url-pattern>/ProfileServlet</url-pattern>
      <url-pattern>/css/*</url-pattern>
      <url-pattern>/images/*</url-pattern>
      <url-pattern>/js/*</url-pattern>
      <url-pattern>/addlicense.jsp</url-pattern>
      <url-pattern>/config.jsp</url-pattern>
      <url-pattern>/countranking.jsp</url-pattern>
      <url-pattern>/error.jsp</url-pattern>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/license.jsp</url-pattern>
      <url-pattern>/licenselist.jsp</url-pattern>
      <url-pattern>/login.jsp</url-pattern>
      <url-pattern>/loginerror.jsp</url-pattern>
      <url-pattern>/logout.jsp</url-pattern>
      <url-pattern>/othererror.jsp</url-pattern>
      <url-pattern>/passranking.jsp</url-pattern>
      <url-pattern>/profile.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
      <role-name>user</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginerror.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <role-name>user</role-name>
  </security-role>
  <security-role>
    <role-name>admin</role-name>
  </security-role>
  <session-config>
    <session-timeout>720</session-timeout>
  </session-config>
</web-app>